.card {
  padding: 12px 8px;
}

input {
  width: 100px;
}

.button {
  display: flex;
  justify-content: center;
  padding: 12px 8px;

  p-button {
    padding: 0 10px;
  }
}

.row {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: grid;
  grid-template-columns: 3fr 4fr;

  p-floatlabel {
    display: flex;
  }
}

.two-rows {
  display: flex;
  flex-wrap: wrap;
}

.xyz {
  display: block;
  justify-self: center;

  .card {
    padding: 12px 0;
  }
}

.dets {
  display: flex;
  flex-wrap: wrap;
}
