<div class="row">
  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="a" required />
      <label for="number-input">a</label> X
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="b" required />
      <label for="number-input">b</label> Y
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="c" required />
      <label for="number-input">c</label> Z =
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="x" required />
      <label for="number-input">x</label>
    </p-floatLabel>
  </div>
</div>

<div class="row">
  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="d" required />
      <label for="number-input">d</label> X
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="e" required />
      <label for="number-input">e</label> Y
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="f" required />
      <label for="number-input">f</label> Z =
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="y" required />
      <label for="number-input">y</label>
    </p-floatLabel>
  </div>
</div>

<div class="row">
  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="g" required />
      <label for="number-input">g</label> X
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="h" required />
      <label for="number-input">h</label> Y
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="i" required />
      <label for="number-input">i</label> Z =
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <p-inputNumber inputId="integeronly" size="1" [(ngModel)]="z" required />
      <label for="number-input">z</label>
    </p-floatLabel>
  </div>
</div>

<div class="button">
  <p-button label="Calcular" (onClick)="isFilled()"></p-button>
  <p-button label="Limpar" (onClick)="clear()"></p-button>
</div>

<p-divider />

<div class="row">

</div>
