.row {
  display: flex;
  justify-content: center;
}

.card {
  padding: 12px 8px;
}

input {
  width: 100px;
}

.button {
  display: flex;
  justify-content: center;
  padding: 12px 8px;

  p-button {
    padding: 0 10px;
  }
}
