<form [formGroup]="form">
  <div class="row">
    <div class="card">
      <p-floatLabel>
        <p-inputNumber inputId="integeronly" size="1" formControlName="a" required />
        <label for="number-input">a</label> X
      </p-floatLabel>
    </div>

    <div class="card">
      <p-floatLabel>
        <p-inputNumber inputId="integeronly" size="1" formControlName="b" required />
        <label for="number-input">b</label> Y =
      </p-floatLabel>
    </div>

    <div class="card">
      <p-floatLabel>
        <p-inputNumber inputId="integeronly" size="1" formControlName="r1" required />
        <label for="number-input"></label>
      </p-floatLabel>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <p-floatLabel>
        <p-inputNumber inputId="integeronly" size="1" formControlName="c" required />
        <label for="number-input">c</label> X
      </p-floatLabel>
    </div>

    <div class="card">
      <p-floatLabel>
        <p-inputNumber inputId="integeronly" size="1" formControlName="d" required />
        <label for="number-input">d</label> Y =
      </p-floatLabel>
    </div>

    <div class="card">
      <p-floatLabel>
        <p-inputNumber inputId="integeronly" size="1" formControlName="r2" required />
        <label for="number-input"></label>
      </p-floatLabel>
    </div>
  </div>

  <div class="button">
    <p-button label="Calcular" (onClick)="isFilled()"></p-button>
    <p-button label="Limpar" (onClick)="clear()"></p-button>
  </div>
</form>

<p-divider />

<div class="row">
  <div class="card">
    <p-floatLabel>
      <input type="text" pInputText [(ngModel)]="x" [disabled]="true" style="width: 140px;" />
      <label for="number-input">X</label>
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <input type="text" pInputText [(ngModel)]="y" [disabled]="true" style="width: 140px;" />
      <label for="number-input">Y</label>
    </p-floatLabel>
  </div>
</div>

<div class="row">
  <div class="card">
    <p-floatLabel>
      <input type="text" pInputText [(ngModel)]="detA" [disabled]="true" style="width: 87px;" />
      <label for="number-input">DetA</label>
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <input type="text" pInputText [(ngModel)]="detX" [disabled]="true" style="width: 87px;" />
      <label for="number-input">DetX</label>
    </p-floatLabel>
  </div>

  <div class="card">
    <p-floatLabel>
      <input type="text" pInputText [(ngModel)]="detY" [disabled]="true" style="width: 87px;" />
      <label for="number-input">DetY</label>
    </p-floatLabel>
  </div>
</div>

<div class="row">
  <div class="card">
    <p-floatLabel>
      <input type="text" pInputText [(ngModel)]="classification" [disabled]="true" style="width: 290px;" />
      <label for="number-input">Classificação</label>
    </p-floatLabel>
  </div>
</div>

